In [230]:
import numpy as np
import pandas as pd
import plotly
import dash
import dash_core_components as dcc
import dash_html_components as html

In [231]:

# loading data right from the source:
death_df = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
confirmed_df = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
recovered_df = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')
country_df = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/web-data/data/cases_country.csv')

In [232]:
country_df.columns = map(str.lower, country_df.columns)
confirmed_df.columns = map(str.lower, confirmed_df.columns)
death_df.columns = map(str.lower, death_df.columns)
recovered_df.columns = map(str.lower, recovered_df.columns)
                           
confirmed_df = confirmed_df.rename(columns={'province/state': 'state', 'country/region': 'country'})
recovered_df = recovered_df.rename(columns={'province/state': 'state', 'country/region': 'country'})
death_df = death_df.rename(columns={'province/state': 'state', 'country/region': 'country'})
country_df = country_df.rename(columns={'country_region': 'country'})

In [233]:
country_df.head(3)

,country,last_update,lat,long_,confirmed,deaths,recovered,active
0,Australia,2020-04-10 12:15:28,-25.0000,133.0000,6204,54,1472,4678
1,Austria,2020-04-10 12:07:50,47.5162,14.5501,13453,319,6064,7070
2,Canada,2020-04-10 12:15:11,60.0010,-95.0010,20765,510,5311,0

In [234]:
death_df.head()

,state,country,lat,long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/31/20,4/1/20,4/2/20,4/3/20,4/4/20,4/5/20,4/6/20,4/7/20,4/8/20,4/9/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,4,4,6,6,7,7,11,14,14,15
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,15,15,16,17,20,20,21,22,22,23
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,44,58,86,105,130,152,173,193,205,235
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,12,14,15,16,17,18,21,22,23,25
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,2,2,2,2,2,2,2,2,2,2

In [235]:
confirmed_df.iloc[:,4:].sum()

1/22/20        555
1/23/20        654
1/24/20        941
1/25/20       1434
1/26/20       2118
            ...
4/5/20     1272115
4/6/20     1345101
4/7/20     1426096
4/8/20     1511104
4/9/20     1595350
Length: 79, dtype: int64

In [236]:
sorted_df=country_df.sort_values(["confirmed"],ascending=False)

In [237]:
sorted_df[:10]

,country,last_update,lat,long_,confirmed,deaths,recovered,active
17,US,2020-04-10 12:08:09,40.000000,-100.000000,466299,16686,26522,0
160,Spain,2020-04-10 12:07:50,40.463667,-3.749220,157022,15843,55668,85511
10,Italy,2020-04-10 12:07:50,41.871900,12.567400,143626,18279,28470,96877
6,France,2020-04-10 12:07:50,46.227600,2.213700,118790,12228,23465,83097
7,Germany,2020-04-10 12:07:50,51.165700,10.451500,118235,2607,52407,63221
3,China,2020-04-10 10:12:56,30.592800,114.305500,82940,3340,77787,1813
89,Iran,2020-04-10 12:07:50,32.427908,53.688046,68192,4232,35465,28495
16,United Kingdom,2020-04-10 12:07:50,55.000000,-3.000000,65872,7993,359,57520
172,Turkey,2020-04-10 12:07:50,38.963700,35.243300,42282,908,2142,39232
32,Belgium,2020-04-10 12:07:50,50.833300,4.469936,26667,3019,5568,18080

In [238]:
confirmed_cases=country_df['confirmed'].sum()
deaths=country_df['deaths'].sum()
recovered_cases=country_df['recovered'].sum()

In [239]:
confirmed_cases,deaths,recovered_cases

(1617204, 97039, 364686)

In [240]:
external_stylesheets = ['https://codepen.io/chriddyp/pen/bWLwgP.css']
app=dash.Dash(__name__, external_stylesheets=external_stylesheets)

In [241]:
dash_colors = {
    'background': '#111111',
    'text': '#BEBEBE',
    'grid': '#333333',
    'red': '#BF0000'
}

In [247]:
app.layout=html.Div(style={'backgroundColor': dash_colors['background']},
    children=[
    html.H1(children="Covid-19 DashBoard",
           style={
               'textAlign':'center',
               'color': 'red'
           }),
    html.H5("World-wide Confirmed cases: {}".format(confirmed_cases),
            style={
               'textAlign':'center',
               'color': 'blue'
           }), 
    html.H5("Recovered cases: {}".format(recovered_cases),
            style={
               'textAlign':'center',
               'color': 'blue'
           }),
    html.H5("Deaths: {}".format(deaths),
            style={
               'textAlign':'center',
               'color': 'blue'
           }),
    
    dcc.Graph(
    id='sample-graph1',
        figure={
            'data':[
                {'x':sorted_df['country'][:10],'y':sorted_df['confirmed'][:10],'type':'bar','name':'confirmed'},
                {'x':sorted_df['country'][:10],'y':sorted_df['recovered'][:10],'type':'bar','name':'recovered'},
                {'x':sorted_df['country'][:10],'y':sorted_df['deaths'][:10],'type':'bar','name':'deaths'}
            ],
            'layout':{
                'title':"Highly Affected Countries",
                "paper_bgcolor": dash_colors['background'],
                "plot_bgcolor": dash_colors['background'],
                "font":{"color":'white'}
                
            }
        }),
        dcc.Graph(
            id='sample-graph2',
        figure={
            'data':[
                {'x':confirmed_df.iloc[:,4:].columns,'y':confirmed_df.iloc[:,4:].sum(),'type':'line','name':'confirmed'},
                {'x':confirmed_df.iloc[:,4:].columns,'y':death_df.iloc[:,4:].sum(),'type':'line','name':'deaths'},
                {'x':confirmed_df.iloc[:,4:].columns,'y':recovered_df.iloc[:,4:].sum(),'type':'line','name':'recovered'}
            ],
            'layout':{
                'title':"Trend of Covid-19 in World",
                "paper_bgcolor": dash_colors['background'],
                "plot_bgcolor": dash_colors['background'],
                "font":{"color":'white'}
                
            }
        }),
        html.H6("Total US Confirmed cases: {}".format(country_df[country_df['country']=='US']['confirmed'].sum()),
            style={
               'textAlign':'center',
               'color': '#fcbe03'
           }), 
        html.H6("Recovered cases: {}".format(country_df[country_df['country']=='US']['recovered'].sum()),
            style={
               'textAlign':'center',
               'color': '#fcbe03'
           }),
        html.H6("Deaths: {}".format(country_df[country_df['country']=='US']['deaths'].sum()),
            style={
               'textAlign':'center',
               'color': '#fcbe03'
           }),
    
 
        dcc.Graph(
            id='sample-graph3',
        figure={
            'data':[
                {'x':confirmed_df[confirmed_df['country']=='US'].iloc[:,4:].columns,'y':confirmed_df[confirmed_df['country']=='US'].iloc[:,4:].sum(),'type':'line','name':'confirmed'},
                {'x':confirmed_df[confirmed_df['country']=='US'].iloc[:,4:].columns,'y':death_df[death_df['country']=='US'].iloc[:,4:].sum(),'type':'line','name':'deaths'},
                {'x':confirmed_df[confirmed_df['country']=='US'].iloc[:,4:].columns,'y':recovered_df[recovered_df['country']=='US'].iloc[:,4:].sum(),'type':'line','name':'recovered'}
            ],
            'layout':{
                'title':"Covid-19 Trend in US",
                "paper_bgcolor": dash_colors['background'],
                "plot_bgcolor": dash_colors['background'],
                "font":{"color":'white'}
                
            }
        }),
        html.H6("Total Indian Confirmed cases: {}".format(country_df[country_df['country']=='India']['confirmed'].sum()),
            style={
               'textAlign':'center',
               'color': '#fc2803'
           }), 
        html.H6("Recovered cases: {}".format(country_df[country_df['country']=='India']['recovered'].sum()),
            style={
               'textAlign':'center',
               'color': '#fc2803'
           }),
        html.H6("Deaths: {}".format(country_df[country_df['country']=='India']['deaths'].sum()),
            style={
               'textAlign':'center',
               'color': '#fc2803'
           }),
    
        dcc.Graph(
            id='sample-graph4',
        figure={
            'data':[
                {'x':confirmed_df[confirmed_df['country']=='India'].iloc[:,4:].columns,'y':confirmed_df[confirmed_df['country']=='India'].iloc[:,4:].sum(),'type':'line','name':'confirmed'},
                {'x':confirmed_df[confirmed_df['country']=='India'].iloc[:,4:].columns,'y':death_df[death_df['country']=='India'].iloc[:,4:].sum(),'type':'line','name':'deaths'},
                {'x':confirmed_df[confirmed_df['country']=='India'].iloc[:,4:].columns,'y':recovered_df[recovered_df['country']=='India'].iloc[:,4:].sum(),'type':'line','name':'recovered'}
            ],
            
            'layout':{
                'title':"Covid-19 Trend in India",
                "paper_bgcolor": dash_colors['background'],
                "plot_bgcolor": dash_colors['background'],
                "font":{"color":'white'},
                
                
            }
        }),
        html.Div(dcc.Markdown(' '),
                 style={
            'textAlign': 'center',
            'color': '#FEFEFE'}),
        html.Div(dcc.Markdown('''
            Built by [Laxmi Narayana Chilakala](https://www.linkedin.com/in/laxmi-narayana-chilakala/)  
            Source data: [Johns Hopkins CSSE](https://github.com/CSSEGISandData/COVID-19)
            '''),
            style={
                'textAlign': 'center',
                'color': '#FEFEFE'})
])

In [ ]:
if __name__ == '__main__':
    app.run_server(port=4050)

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: Do not use the development server in a production environment.
   Use a production WSGI server instead.
 * Debug mode: off